@keyframes main {
  0% {
    position: absolute;
    top: 80%;
    left: 28%;
    transform: translate(-50%, -50%);
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes main--b {
  0% {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0; }
  100% {
    opacity: 1; } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  scroll-behavior: smooth;
  font-size: 62.5%; }
  @media (min-width: 120em) {
    html {
      font-size: 85%; } }
  @media (min-width: 240em) {
    html {
      font-size: 180%; } }
  @media (max-width: 22.5em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 17em) {
    html {
      font-size: 40%;
      font-weight: normal; } }
  @media only screen and (max-height: 20em) {
    html {
      font-size: 30%;
      font-weight: normal; } }

a {
  text-decoration: none; }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

::selection {
  background-color: #662d91;
  color: #fff; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  /* font-size: 16px;*/
  line-height: 1.7; }

.features {
  width: 100vw;
  background-color: #662d91;
  color: #fff;
  justify-content: center;
  padding: 3rem; }
  .features_grid {
    margin: 10rem auto;
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; }
    @supports (display: grid) or (display: grid) {
      .features_grid {
        margin: 10rem auto;
        width: 80%;
        display: grid;
        grid-auto-rows: 10rem;
        grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
        justify-content: center;
        grid-gap: 7rem; }
        @media only screen and (max-width: 48rem) {
          .features_grid {
            grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
            grid-gap: 10rem; } }
        @media only screen and (max-width: 41em) {
          .features_grid {
            grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
            grid-gap: 12rem; } } }
  .features_content {
    padding: 2rem;
    font-size: 1.3rem; }
    @supports (display: grid) or (display: grid) {
      .features_content {
        font-size: 1.3rem;
        width: 30rem;
        height: 10rem; } }
  .features_heading {
    text-transform: capitalize;
    font-size: 2rem; }
  .features_heading--main {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    width: 40rem;
    line-height: 5rem;
    margin: 0 auto;
    position: relative; }
    @media only screen and (max-width: 48rem) {
      .features_heading--main {
        margin-top: 3rem; } }
    @media (max-width: 26em) {
      .features_heading--main {
        font-size: 2rem;
        margin-top: 2rem;
        margin-left: 0;
        width: 100%;
        line-height: 1rem; } }
    @media only screen and (max-width: 29em) {
      .features_heading--main {
        font-size: 2rem;
        margin-top: 2rem;
        margin-left: 0;
        width: 100%;
        line-height: 1rem; } }
    .features_heading--main::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -3rem;
      transform: translate(-50%, -50%);
      width: 40%;
      text-align: center;
      height: 0.5rem;
      background-color: #fff;
      transition: width 1000ms; }
    .features_heading--main:hover::after {
      width: 45%; }

@media (max-width: 22.5em) {
  .features {
    letter-spacing: 0.1rem; }
    .features_heading--main {
      font-size: 2.5rem;
      line-height: 1rem;
      margin-top: 1.9rem; }
    .features_content {
      font-size: 1.3rem;
      font-weight: normal;
      width: 25rem;
      height: 10rem; } }

@media only screen and (max-width: 20em) {
  .features_heading--main {
    line-height: 5rem; } }

.footer {
  background-color: rgba(0, 0, 0, 0.3);
  background-position: center;
  position: relative;
  height: 50vh; }
  .footer_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    line-height: 7rem;
    font-size: 2.5rem; }
    .footer_content_heading {
      width: 10%; }
  .footer_btn {
    color: #fff;
    padding: 1rem 4rem;
    border-radius: 30px;
    transition: all 0.6s ease; }
    .footer_btn:hover, .footer_btn:active {
      background-position: 100%;
      transform: scale(1.5rem);
      color: #662d91;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .footer_btn-sty {
    background-color: #662d91;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 275%;
    border: 2px solid #662d91; }

@media (max-width: 22.5em) {
  .footer {
    height: 30vh; }
    .footer_content {
      margin: auto;
      text-align: center;
      line-height: 4rem;
      font-size: 1.3rem; } }

@media (max-height: 26.3125em) {
  .footer {
    height: 50vh; }
    .footer_content {
      margin: auto;
      text-align: center;
      line-height: 4rem;
      font-size: 1.3rem; } }

@media only screen and (max-width: 29em) {
  .footer {
    height: 30vh; }
    .footer_content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
      line-height: 3rem;
      font-size: 1rem; }
      .footer_content_heading {
        width: 100%;
        padding-bottom: 2rem; } }

.header {
  background-image: url(../img/hero/img3.png);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-width: 64em) {
    .header {
      height: 70vh; } }
  .header_logo-box {
    position: absolute;
    top: -4%;
    left: 1%;
    display: inline-block;
    transform: translate(-9984rem); }
  .header_logo {
    height: 18.5rem;
    cursor: pointer; }
  .header_check {
    display: none; }
  .header_li {
    display: flex;
    position: absolute;
    top: 9%;
    right: 18%;
    font-weight: 500;
    text-transform: uppercase;
    list-style: none;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
    @media only screen and (max-width: 64em) {
      .header_li {
        position: absolute;
        top: 7%; } }
    @media only screen and (max-height: 85.375em) {
      .header_li {
        position: absolute;
        top: 6.9%; } }
  .header_list--a {
    font-size: 2rem;
    color: #fff;
    border-radius: 50px;
    background-color: #662d91;
    position: absolute;
    padding: 1rem 4rem;
    top: 9%;
    right: 5%;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
    background-size: 275%;
    transition: all 0.4s;
    border: 2px solid #662d91; }
    @media only screen and (max-width: 64em) {
      .header_list--a {
        position: absolute;
        top: 7%; } }
    @media only screen and (max-height: 85.375em) {
      .header_list--a {
        position: absolute;
        top: 6.9%; } }
    .header_list--a_btn_sin {
      font-size: 2rem;
      color: #fff; }
    .header_list--a:hover, .header_list--a:active {
      background-position: 100%;
      color: #662d91;
      transform: scale(1.5rem);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .header_list--b:link, .header_list--b:visited {
    padding: 1rem 2rem;
    font-size: 2rem;
    color: #662d91;
    display: inline-block;
    font-weight: 300;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 30px;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #662d91 50%);
    background-size: 275%;
    transition: all 0.4s;
    z-index: 2; }
  .header_list--b:hover, .header_list--b:active {
    background-position: 100%;
    color: #fff;
    transform: scale(1.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .header_list--btn:link, .header_list--btn:visited {
    border-radius: 50px;
    padding: 1rem 4rem;
    margin-top: -0.5%;
    margin-left: 1rem;
    color: #fff;
    background-image: linear-gradient(120deg, #662d91 0%, #662d91 50%, #fff 50%);
    background-size: 275%;
    transition: all 0.4s;
    cursor: pointer;
    border: 2px solid #662d91; }
  .header_list--btn:hover, .header_list--btn:active {
    background-position: 100%;
    color: #662d91;
    transform: scale(1.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3); }
  .header_text-box {
    position: absolute;
    top: 55%;
    left: 28%;
    width: 50%;
    transform: translate(-50%, -50%);
    animation: main 2s ease 0.1s;
    animation-fill-mode: backwards; }
  .header_heading--main {
    font-size: 7rem;
    line-height: 7.5rem;
    font-weight: 900; }
    @media only screen and (max-width: 15em) {
      .header_heading--main {
        font-size: 2rem;
        font-weight: normal; } }
  .header_up {
    padding-top: 2rem;
    z-index: 120; }
  .header_op {
    padding: 1rem 6rem;
    margin-left: 0.5rem;
    border: 2px solid #662d91; }
  .header_side-img {
    position: absolute;
    top: 60%;
    right: -22.9%;
    transform: translate(-50%, -50%);
    z-index: -1; }
    @media only screen and (max-width: 64em) {
      .header_side-img {
        position: absolute;
        top: 50%;
        right: -22.9%;
        transform: translate(-50%, -50%);
        z-index: -1; } }
    @media only screen and (max-width: 29em) {
      .header_side-img {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%) rotate(90); } }
  .header_img {
    height: 80rem; }

@media (max-width: 1380px) {
  .header_side-img {
    position: absolute;
    top: 60%;
    right: -21.9%;
    transform: translate(-50%, -50%); }
  .header_img {
    height: 70rem; } }

@media (max-width: 1250px) {
  .header_side-img {
    position: absolute;
    top: 60%;
    right: -23.9%;
    transform: translate(-50%, -50%); }
  .header_img {
    height: 70rem; } }

@media (max-width: 1200px) {
  .header_side-img {
    position: absolute;
    top: 60%;
    right: -25.9%;
    transform: translate(-50%, -50%); }
  .header_img {
    height: 70rem; } }

@media (max-width: 1000px) {
  .header_side-img {
    position: absolute;
    top: 60%;
    right: -29.9%;
    transform: translate(-50%, -50%); }
  .header_heading--main {
    font-size: 6rem;
    line-height: 6.5rem;
    font-weight: 900; }
  .header_img {
    height: 70rem; } }

@media (max-width: 900px) {
  .header_side-img {
    position: absolute;
    top: 5 0%;
    right: 1%;
    transform: translate(-50%, -50%) rotate(90deg); }
  .header_heading--main {
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: 900; }
  .header_img {
    height: 60rem; }
  .header_text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    animation: main--b 2s ease 1s;
    text-align: center; } }

@media (max-width: 850px) {
  .header_side-img {
    position: absolute;
    top: 70%;
    right: -2%;
    transform: translate(-50%, -50%) rotate(90deg); }
  .header_img {
    height: 60rem; }
  .header_side-img {
    position: absolute;
    top: 70%;
    right: 1%;
    transform: translate(-50%, -50%) rotate(90deg); }
  .header_heading--main {
    font-size: 4rem;
    line-height: 4.5rem;
    font-weight: 900; }
  .header_img {
    height: 60rem; }
  .header_text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    animation: main--b 2s ease;
    text-align: center;
    animation-fill-mode: backwards; }
  .header_check {
    display: none; }
  .header_li {
    display: none;
    position: absolute;
    top: 50%;
    left: -50%;
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1); }
  .header_list--a {
    display: none;
    color: #fff;
    transition: all 1s cubic-bezier(0.86, 0, 0.07, 1); }
  .header_res--nav {
    display: inline-block;
    background-color: #662d91;
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: 8%;
    right: 7%;
    border-radius: 5px;
    cursor: pointer;
    z-index: 30;
    transition: all 0.2s ease; } }
  @media (max-width: 850px) and (max-height: 26.3125em) {
    .header_res--nav {
      position: absolute;
      top: 15%;
      right: 7%; } }

@media (max-width: 850px) {
    .header_res--nav:hover {
      box-shadow: 0 0.3rem 2rem rgba(0, 0, 0, 0.3); }
  .header_icon {
    position: relative;
    margin-top: 2.8rem;
    margin-left: 1.4rem; }
    .header_icon, .header_icon::before, .header_icon::after {
      width: 3rem;
      height: 2px;
      background-color: #fff;
      display: inline-block; }
    .header_icon::before, .header_icon::after {
      content: "";
      position: absolute;
      right: 0rem;
      transition: all 0.2s; }
    .header_icon::before {
      top: -0.8rem; }
    .header_icon::after {
      top: 0.8rem; }
    .header_icon:hover {
      color: #000; }
  .header_check:checked ~ .header_res--nav {
    position: fixed; }
  .header_check:checked ~ .header_res--nav .header_icon {
    background-color: transparent; }
  .header_check:checked ~ .header_res--nav .header_icon::before {
    transform: rotate(225deg);
    top: 0; }
  .header_check:checked ~ .header_res--nav .header_icon::after {
    transform: rotate(-225deg);
    top: 0; }
  .header_background {
    position: absolute;
    top: 20%;
    right: 15%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    z-index: 10;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }
  .header_check:checked ~ .header_li {
    display: block;
    z-index: 20;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; } }
  @media (max-width: 850px) and (max-height: 26.3125em) {
    .header_check:checked ~ .header_li {
      position: fixed;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%); } }

@media (max-width: 850px) {
  .header_check:checked ~ .header_li .header_list {
    font-size: 3rem;
    color: #fff; }
  .header_check:checked ~ .header_list--a {
    position: fixed;
    top: 60%;
    left: 51.8%;
    transform: translate(-50%, -50%);
    display: inline-block;
    z-index: 20;
    text-align: center;
    width: 15rem; } }
  @media (max-width: 850px) and (max-height: 26.3125em) {
    .header_check:checked ~ .header_list--a {
      position: fixed;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%); } }
  @media (max-width: 850px) and (max-height: 25.875em) {
    .header_check:checked ~ .header_list--a {
      position: fixed;
      top: 72%;
      left: 50%;
      transform: translate(-50%, -50%); } }

@media (max-width: 850px) {
  .header_check:checked ~ .header_background {
    transform: scale(317);
    opacity: 1;
    visibility: visible;
    position: fixed;
    overflow-x: hidden; } }

@media (min-height: 120em) {
  .header_li {
    position: absolute;
    top: 6.5%;
    right: 18%; }
  .header_list--a {
    position: absolute;
    top: 6.5%;
    right: 5%; } }

@media (max-width: 25.875em) {
  .header {
    height: 100vh; }
    .header_side-img {
      position: absolute;
      top: 75%;
      left: 46%;
      transform: translate(-50%, -50%) rotate(90deg); } }

@media (max-height: 26.3125em) {
  .header_side-img {
    display: none; }
  .header_text-box {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%); } }

@media (max-width: 48em) {
  .header {
    height: 100vh; }
    .header_side-img {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90); } }

@media (max-width: 52.125em) {
  .header {
    height: 100vh; }
    .header_side-img {
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90); } }

@media only screen and (max-width: 54em) {
  .header {
    height: 100vh; }
    .header_li {
      position: absolute;
      top: 15.5%;
      right: 15%; }
    .header_list--a {
      position: absolute;
      padding: 1rem 3rem;
      top: 15.5%;
      right: 3%; } }

.reason {
  height: 100vh;
  position: relative;
  overflow: hidden; }
  @media only screen and (max-height: 85.375em) {
    .reason {
      height: 100vh; } }
  .reason_img2 {
    display: none; }
  .reason_item--m {
    font-size: 6rem;
    margin-top: 5rem;
    margin-left: 50%;
    transform: translate(-50%);
    width: 50rem;
    font-weight: 100; }
    .reason_item--m::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      width: 40%;
      height: 0.5rem;
      display: block;
      background-color: rgba(0, 0, 0, 0.2);
      text-align: center;
      transition: width 4000ms ease;
      display: none; }
  .reason_heading {
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
    width: 40rem;
    line-height: 5rem;
    margin: 0 auto;
    position: relative; }
    @media only screen and (max-height: 85.375em) {
      .reason_heading {
        font-size: 7rem;
        margin-top: 5rem;
        line-height: 15rem; } }
    .reason_heading::after {
      content: "";
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40%;
      height: 1.5rem;
      display: none;
      background-color: rgba(0, 0, 0, 0.2);
      text-align: center;
      transition: width 1000ms; }
    .reason_heading:hover::after {
      width: 50%; }
  .reason_item {
    transition: transform 0.6s ease; }
    .reason_item:hover {
      transform: translateY(-1rem); }
  .reason_list {
    position: absolute;
    top: 60%;
    right: -20%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    width: 50%;
    line-height: 8rem;
    font-weight: 600; }
  .reason_img-box {
    position: absolute;
    top: 60%;
    left: 10%;
    transform: translate(-50%, -50%); }
    @media (max-height: 25.875em) {
      .reason_img-box {
        position: absolute;
        top: 75%;
        left: 15%;
        transform: translate(-50%, -50%); } }
    @media (max-width: 52.125em) {
      .reason_img-box {
        position: absolute;
        top: 70%;
        left: 12%;
        transform: translate(-50%, -50%); } }
    @media (max-width: 64em) {
      .reason_img-box {
        position: absolute;
        top: 75%;
        left: 12%;
        transform: translate(-50%, -50%); } }
    @media only screen and (max-height: 85.375em) {
      .reason_img-box {
        position: absolute;
        top: 73%; } }
  .reason_image {
    width: 50rem; }
  .reason_num {
    background-color: #662d91;
    padding: 1rem 1.7rem;
    border-radius: 50%;
    color: #fff; }

@media (max-width: 1280px) {
  .reason_list {
    position: absolute;
    top: 60%;
    left: 90%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    width: 100%;
    line-height: 7rem;
    font-weight: 600; } }

@media (max-width: 1100px) {
  .reason_list {
    position: absolute;
    top: 60%;
    left: 80%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%);
    width: 100%;
    line-height: 7rem;
    font-weight: 600; } }

@media (max-width: 900px) {
  .reason_list {
    position: absolute;
    top: 60%;
    left: 80%;
    font-size: 1.2rem;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50%;
    line-height: 5rem;
    font-weight: 600; } }

@media (max-width: 800px) {
  .reason_list {
    position: absolute;
    top: 60%;
    left: 85%;
    font-size: 1.2rem;
    transform: translate(-50%, -50%);
    width: 10%;
    height: 50%;
    line-height: 5rem;
    font-weight: 300; } }

@media (max-width: 790px) {
  .reason_img2 {
    margin-left: 55rem;
    display: none;
    visibility: hidden; }
  .reason_image {
    display: none;
    visibility: hidden; }
  .reason_list {
    position: absolute;
    top: 50%;
    left: 35%;
    font-size: 1.2rem;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 50%;
    line-height: 7rem;
    font-weight: 200; } }

@media (max-width: 750px) {
  .reason_img2 {
    margin-left: 55rem;
    display: none; }
  .reason_image {
    display: none; }
  .reason_list {
    position: absolute;
    top: 55%;
    left: 50%;
    font-size: 1.2rem;
    transform: translate(-50%, -50%);
    width: 90%;
    height: 60%;
    line-height: 7rem;
    font-weight: 200; }
  .reason_heading {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem; }
    .reason_heading::after {
      content: "";
      position: absolute;
      top: 120%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 40%;
      height: 1rem;
      display: none;
      background-color: rgba(0, 0, 0, 0.2);
      text-align: center;
      transition: width 4000ms ease; } }

@media (max-width: 48rem) {
  .reason_list {
    position: absolute;
    top: 55%;
    left: 60%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%); }
  .reason_heading {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    margin-top: 5rem; } }

@media (max-width: 52.125em) {
  .reason_list {
    position: absolute;
    top: 73%;
    left: 70%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%); }
  .reason_heading {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    width: 100%;
    text-align: center;
    line-height: 12rem;
    margin-top: 6rem; } }

@media (max-width: 52.125em) {
  .reason_list {
    position: absolute;
    top: 73%;
    left: 70%;
    font-size: 1.5rem;
    transform: translate(-50%, -50%); }
  .reason_heading {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 7rem;
    width: 100%;
    text-align: center;
    line-height: 12rem;
    margin-top: 6rem; } }

@media (max-width: 64em) {
  .reason {
    height: 100vh; }
    .reason_list {
      position: absolute;
      top: 70%;
      left: 80%;
      font-size: 1.5rem;
      transform: translate(-50%, -50%); }
    .reason_heading {
      position: absolute;
      top: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 7rem;
      width: 100%;
      text-align: center;
      line-height: 12rem;
      margin-top: 6rem; } }

@media only screen and (max-width: 29em) {
  .reason {
    height: 80vh;
    position: relative; }
    .reason_item--m {
      font-size: 5rem;
      margin-top: -7rem;
      margin-left: -4rem;
      width: 50rem;
      line-height: 1rem; }
      .reason_item--m::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        height: 0.5rem;
        display: block;
        background-color: rgba(0, 0, 0, 0.2);
        text-align: center;
        transition: width 4000ms ease; }
    .reason_list {
      position: absolute;
      top: 60%;
      left: 55%;
      font-size: 1rem;
      transform: translate(-50%, -50%);
      width: 100%;
      line-height: 5rem; }
    .reason_num {
      background-color: #662d91;
      padding: 1.2rem 1.7rem;
      border-radius: 50%;
      color: #fff; } }

@media only screen and (max-width: 24em) {
  .reason {
    height: 80vh;
    position: relative; }
    .reason_item--m {
      font-size: 4rem;
      margin-top: -7rem;
      margin-left: -7rem;
      width: 50rem; }
      .reason_item--m::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 40%;
        height: 0.5rem;
        display: block;
        background-color: rgba(0, 0, 0, 0.2);
        text-align: center;
        transition: width 4000ms ease;
        display: none; }
    .reason_list {
      position: absolute;
      top: 10%;
      left: 50%;
      font-size: 1rem;
      transform: translate(-50%, -50%);
      width: 90%;
      line-height: 5rem; }
    .reason_num {
      background-color: #662d91;
      padding: 1.2rem 1.7rem;
      border-radius: 50%;
      color: #fff; } }

@media only screen and (max-width: 54em) {
  .reason {
    height: 150vh;
    position: relative; }
    .reason_item--m {
      font-size: 5rem;
      margin-top: -12rem;
      margin-left: 50%;
      transform: translate(-50%);
      width: 50rem;
      font-weight: 100; }
      .reason_item--m::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40%;
        height: 0.5rem;
        display: block;
        background-color: rgba(0, 0, 0, 0.2);
        text-align: center;
        transition: width 4000ms ease;
        display: none; }
    .reason_list {
      position: absolute;
      top: 50%;
      left: 70%;
      font-size: 1.5rem;
      transform: translate(-50%, -50%);
      width: 90%;
      line-height: 7rem; }
    .reason_num {
      background-color: #662d91;
      padding: 1.2rem 1.7rem;
      border-radius: 50%;
      color: #fff; } }

@media only screen and (max-width: 26em) {
  .reason {
    height: 100vh;
    position: relative; }
    .reason_item--m {
      font-size: 5rem;
      margin-top: -5rem;
      margin-left: 50%;
      transform: translate(-50%);
      width: 50rem;
      font-weight: 100; }
      .reason_item--m::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40%;
        height: 0.5rem;
        display: block;
        background-color: rgba(0, 0, 0, 0.2);
        text-align: center;
        transition: width 4000ms ease;
        display: none; }
    .reason_list {
      position: absolute;
      top: 60%;
      left: 52%;
      font-size: 1rem;
      transform: translate(-50%, -50%);
      width: 100%;
      line-height: 5rem; }
    .reason_num {
      background-color: #662d91;
      padding: 1.2rem 1.7rem;
      border-radius: 50%;
      color: #fff; } }

@media only screen and (max-width: 43em) {
  .reason {
    height: 150vh;
    position: relative; }
    .reason_item--m {
      font-size: 5rem;
      margin-top: -5rem;
      margin-left: 50%;
      transform: translate(-50%);
      width: 50rem;
      font-weight: 100; }
      .reason_item--m::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        width: 40%;
        height: 0.5rem;
        display: block;
        background-color: rgba(0, 0, 0, 0.2);
        text-align: center;
        transition: width 4000ms ease;
        display: none; }
    .reason_list {
      position: absolute;
      top: 70%;
      left: 52%;
      font-size: 1rem;
      transform: translate(-50%, -50%);
      width: 100%;
      line-height: 5rem; }
    .reason_num {
      background-color: #662d91;
      padding: 1.2rem 1.7rem;
      border-radius: 50%;
      color: #fff; } }

@media only screen and (max-width: 49em) {
  .reason {
    height: 70vh; }
    .reason_list {
      left: 50%; }
    .reason_num {
      padding-left: 2rem;
      padding-right: 2rem; } }

@media only screen and (max-width: 50em) {
  .reason {
    height: 200vh; } }

@media only screen and (max-width: 56em), only screen and (max-width: 57em), only screen and (max-width: 298em) {
  .reason {
    height: 200vh; } }

@media only screen and (max-width: 51em) {
  .reason {
    height: 200vh; }
    .reason_img-box {
      display: none; }
    .reason_list {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); } }

@media only screen and (max-width: 50em) {
  .reason {
    height: 50vh; } }

@media only screen and (max-width: 80em) {
  .reason {
    height: 100vh; } }

@media only screen and (max-width: 90em) {
  .reason {
    height: 100vh; } }

@media only screen and (max-width: 61em) {
  .reason {
    height: 50vh; } }

@media only screen and (max-width: 24em) {
  .reason {
    height: 90vh; }
    .reason_list {
      top: 30%;
      transform: translate(-50%); } }

@media only screen and (max-width: 46em), only screen and (max-width: 60em) {
  .reason {
    height: 130vh; }
    .reason_list {
      top: 35%;
      transform: translate(-50%); } }
